config/project
public/cpresources
public/css
public/images
public/js
web/cpresources
web/css
web/images
web/js
storage
vendor
node_modules
composer.*
cms/config/project
cms/public/cpresources
cms/public/css
cms/public/images
cms/public/js
cms/web/cpresources
cms/web/css
cms/web/images
cms/web/js
cms/storage
cms/vendor
cms/composer.*
buildchain/node_modules
